#titulo {
	font-size: 24px;
	font-weight: bold;;
	font-style: Arial;
	text-align: center;
}

#grid {
	text-align: -webkit-center;
	height: 160px;
	width: 160px;
	border: 1px solid rgb(185,185,185);	
}