#titulo {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

#container {
	height: 500px;
	width: 500px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

.grid  {
    border: 1px solid black;
    background: #171B99;
    float: left;
    opacity: 1;
}